@model AdvertisementUpdateDto
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <form asp-action="Update" asp-controller="Application" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="mb-3">
            <label>İlanın Başlığı:</label>
            <input type="text" asp-for="@Model.Title" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-check-label">Aktif</label>
            <input type="checkbox" asp-for="@Model.Status" class="form-check-input" />
        </div>
        <div class="mb-3">
            <label>İçerik</label>
            <textarea asp-for="@Model.Description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>
@section script{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/trumbowyg.min.js" integrity="sha512-YJgZG+6o3xSc0k5wv774GS+W1gx0vuSI/kr0E0UylL/Qg/noNspPtYwHPN9q6n59CTR/uhgXfjDXLTRI+uIryg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            $("#Description").trumbowyg();
        })
    </script>
}
@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/ui/trumbowyg.min.css" integrity="sha512-Fm8kRNVGCBZn0sPmwJbVXlqfJmPC13zRsMElZenX6v721g/H7OukJd8XzDEBRQ2FSATK8xNF9UYvzsCtUpfeJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}